@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
    background: url("https://wpapers.ru/wallpapers/3d/Abstractions/13010/1920x1080_%D0%9D%D0%B5-%D1%82%D0%B0%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B0%D0%BA-%D0%B2%D1%81%D0%B5.jpg") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
::-webkit-input-placeholder {color:#c4c9c9;}/* webkit */
::-moz-placeholder          {color:#298cad;}/* Firefox 19+ */
:-moz-placeholder           {color:#298cad;}/* Firefox 18- */
:-ms-input-placeholder      {color:#298cad;}/* IE */

.dws-wrapper {
    display: flex;
    height: calc(100vh - 56px);
    justify-content: center;
    align-items: center;
}
.dws-form {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    width: 330px;
}
.input {
    font-size: 16px;
    border: 2px solid #e9eaea;
    padding: 12px 14px;
    box-sizing: border-box;
    margin-bottom: 22px;
    color: #1e8da6;
    outline: none;
}
.dws-form input {
    display: block;
    width: 100%;
}
.tab-form {
    background-color: white;
    padding: 30px 20px 20px;
}

label.tab{
    color: white;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
    border-radius: 3px 3px 0 0;
    margin-bottom: -1px;
    cursor: pointer;
}
label.tab.active {
    background: #fff;
    color: black;
}
.btn {
    background: #37383a;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 46px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    transition: .3s all;
}
.btn:hover {
    color: #1567d5;
}